@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* Set the display, width, and alignment for the left and right parts of the navigation bar */
.first-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;

}
/* Style the header logo */
#header-logo{
font-size: 24px;
color: #f9faf8;
}

/* Style the navigation links */
.header-link {
  font-size: 18px;
  color: #e5e7eb;
}


/* The left part of the navigation bar */
.navbar-left {
 display: flex;
 align-items: center;
 justify-content: flex-start;
  background-color: #1f2937;
}

/* The right part of the navigation bar */
.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1f2937;
}

/* Set the display and flex direction for the navigation links */
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 20%;
  
}

.section-1 {
  border: 4px solid lime;
  min-height: 200px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-image {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.section-text {
flex-basis: 50%;
display: flex;
justify-content: center;
flex-direction: column;
padding: 0 20px;

}

.section-2,.section-3, .section-4, .inner-footer { 
  border: 4px solid lime;
  min-height: 200px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.h1 {
  font-size: 48px;
}

picture {
  display: block;
}

img { 
  display: block;
  max-width: 100%;
  height: auto;
}
